/*
 * BCF API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 3.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package de.openfabtwin.generated.api;

import de.openfabtwin.generated.invoker.ApiClient;
import de.openfabtwin.generated.invoker.ApiException;
import de.openfabtwin.generated.invoker.ApiResponse;

import de.openfabtwin.generated.model.DocumentReferenceGET;
import de.openfabtwin.generated.model.DocumentReferencePOST;
import de.openfabtwin.generated.model.DocumentReferencePUT;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.IOException;
import java.net.http.HttpRequest;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.List;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2026-03-03T13:42:11.752466800+01:00[Europe/Berlin]", comments = "Generator version: 7.11.0")
public class DocumentReferencesApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public DocumentReferencesApi() {
    this(new ApiClient());
  }

  public DocumentReferencesApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Create Document Reference
   * Add a document reference to a topic. This operation is only possible when the server returns the updateDocumentReferences flag in the Topic authorization, see section 4.2.8  Should either reference an internal or an external document.  Internal document_guid must match an existing document in the project url must be null External document_guid must be null url must be the url to the external resource 
   * @param version  (required)
   * @param projectId  (required)
   * @param topicId  (required)
   * @param documentReferencePOST  (required)
   * @return DocumentReferenceGET
   * @throws ApiException if fails to make API call
   */
  public DocumentReferenceGET createDocumentReference(String version, String projectId, String topicId, DocumentReferencePOST documentReferencePOST) throws ApiException {
    ApiResponse<DocumentReferenceGET> localVarResponse = createDocumentReferenceWithHttpInfo(version, projectId, topicId, documentReferencePOST);
    return localVarResponse.getData();
  }

  /**
   * Create Document Reference
   * Add a document reference to a topic. This operation is only possible when the server returns the updateDocumentReferences flag in the Topic authorization, see section 4.2.8  Should either reference an internal or an external document.  Internal document_guid must match an existing document in the project url must be null External document_guid must be null url must be the url to the external resource 
   * @param version  (required)
   * @param projectId  (required)
   * @param topicId  (required)
   * @param documentReferencePOST  (required)
   * @return ApiResponse&lt;DocumentReferenceGET&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DocumentReferenceGET> createDocumentReferenceWithHttpInfo(String version, String projectId, String topicId, DocumentReferencePOST documentReferencePOST) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createDocumentReferenceRequestBuilder(version, projectId, topicId, documentReferencePOST);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createDocumentReference", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<DocumentReferenceGET>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<DocumentReferenceGET>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<DocumentReferenceGET>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createDocumentReferenceRequestBuilder(String version, String projectId, String topicId, DocumentReferencePOST documentReferencePOST) throws ApiException {
    // verify the required parameter 'version' is set
    if (version == null) {
      throw new ApiException(400, "Missing the required parameter 'version' when calling createDocumentReference");
    }
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(400, "Missing the required parameter 'projectId' when calling createDocumentReference");
    }
    // verify the required parameter 'topicId' is set
    if (topicId == null) {
      throw new ApiException(400, "Missing the required parameter 'topicId' when calling createDocumentReference");
    }
    // verify the required parameter 'documentReferencePOST' is set
    if (documentReferencePOST == null) {
      throw new ApiException(400, "Missing the required parameter 'documentReferencePOST' when calling createDocumentReference");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/bcf/{version}/projects/{project_id}/topics/{topic_id}/document_references"
        .replace("{version}", ApiClient.urlEncode(version.toString()))
        .replace("{project_id}", ApiClient.urlEncode(projectId.toString()))
        .replace("{topic_id}", ApiClient.urlEncode(topicId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(documentReferencePOST);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get Document References
   * Add a document reference to a topic. This operation is only possible when the server returns the updateDocumentReferences flag in the Topic authorization, see section 3.2.8 
   * @param version  (required)
   * @param projectId  (required)
   * @param topicId  (required)
   * @return List&lt;DocumentReferenceGET&gt;
   * @throws ApiException if fails to make API call
   */
  public List<DocumentReferenceGET> getDocumentReferences(String version, String projectId, String topicId) throws ApiException {
    ApiResponse<List<DocumentReferenceGET>> localVarResponse = getDocumentReferencesWithHttpInfo(version, projectId, topicId);
    return localVarResponse.getData();
  }

  /**
   * Get Document References
   * Add a document reference to a topic. This operation is only possible when the server returns the updateDocumentReferences flag in the Topic authorization, see section 3.2.8 
   * @param version  (required)
   * @param projectId  (required)
   * @param topicId  (required)
   * @return ApiResponse&lt;List&lt;DocumentReferenceGET&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<DocumentReferenceGET>> getDocumentReferencesWithHttpInfo(String version, String projectId, String topicId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getDocumentReferencesRequestBuilder(version, projectId, topicId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getDocumentReferences", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<List<DocumentReferenceGET>>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<List<DocumentReferenceGET>>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<List<DocumentReferenceGET>>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getDocumentReferencesRequestBuilder(String version, String projectId, String topicId) throws ApiException {
    // verify the required parameter 'version' is set
    if (version == null) {
      throw new ApiException(400, "Missing the required parameter 'version' when calling getDocumentReferences");
    }
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(400, "Missing the required parameter 'projectId' when calling getDocumentReferences");
    }
    // verify the required parameter 'topicId' is set
    if (topicId == null) {
      throw new ApiException(400, "Missing the required parameter 'topicId' when calling getDocumentReferences");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/bcf/{version}/projects/{project_id}/topics/{topic_id}/document_references"
        .replace("{version}", ApiClient.urlEncode(version.toString()))
        .replace("{project_id}", ApiClient.urlEncode(projectId.toString()))
        .replace("{topic_id}", ApiClient.urlEncode(topicId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Update Document Reference
   * Update an existing document reference identified by guid. Uses the same rules as POST Document Reference Service. This operation is only possible when the server returns the updateDocumentReferences flag in the Topic authorization, see section 4.2.8 
   * @param version  (required)
   * @param projectId  (required)
   * @param topicId  (required)
   * @param documentReferenceId  (required)
   * @param documentReferencePUT  (required)
   * @return DocumentReferenceGET
   * @throws ApiException if fails to make API call
   */
  public DocumentReferenceGET updateDocumentReference(String version, String projectId, String topicId, String documentReferenceId, DocumentReferencePUT documentReferencePUT) throws ApiException {
    ApiResponse<DocumentReferenceGET> localVarResponse = updateDocumentReferenceWithHttpInfo(version, projectId, topicId, documentReferenceId, documentReferencePUT);
    return localVarResponse.getData();
  }

  /**
   * Update Document Reference
   * Update an existing document reference identified by guid. Uses the same rules as POST Document Reference Service. This operation is only possible when the server returns the updateDocumentReferences flag in the Topic authorization, see section 4.2.8 
   * @param version  (required)
   * @param projectId  (required)
   * @param topicId  (required)
   * @param documentReferenceId  (required)
   * @param documentReferencePUT  (required)
   * @return ApiResponse&lt;DocumentReferenceGET&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<DocumentReferenceGET> updateDocumentReferenceWithHttpInfo(String version, String projectId, String topicId, String documentReferenceId, DocumentReferencePUT documentReferencePUT) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = updateDocumentReferenceRequestBuilder(version, projectId, topicId, documentReferenceId, documentReferencePUT);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("updateDocumentReference", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<DocumentReferenceGET>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<DocumentReferenceGET>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<DocumentReferenceGET>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder updateDocumentReferenceRequestBuilder(String version, String projectId, String topicId, String documentReferenceId, DocumentReferencePUT documentReferencePUT) throws ApiException {
    // verify the required parameter 'version' is set
    if (version == null) {
      throw new ApiException(400, "Missing the required parameter 'version' when calling updateDocumentReference");
    }
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(400, "Missing the required parameter 'projectId' when calling updateDocumentReference");
    }
    // verify the required parameter 'topicId' is set
    if (topicId == null) {
      throw new ApiException(400, "Missing the required parameter 'topicId' when calling updateDocumentReference");
    }
    // verify the required parameter 'documentReferenceId' is set
    if (documentReferenceId == null) {
      throw new ApiException(400, "Missing the required parameter 'documentReferenceId' when calling updateDocumentReference");
    }
    // verify the required parameter 'documentReferencePUT' is set
    if (documentReferencePUT == null) {
      throw new ApiException(400, "Missing the required parameter 'documentReferencePUT' when calling updateDocumentReference");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/bcf/{version}/projects/{project_id}/topics/{topic_id}/document_references/{document_reference_id}"
        .replace("{version}", ApiClient.urlEncode(version.toString()))
        .replace("{project_id}", ApiClient.urlEncode(projectId.toString()))
        .replace("{topic_id}", ApiClient.urlEncode(topicId.toString()))
        .replace("{document_reference_id}", ApiClient.urlEncode(documentReferenceId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(documentReferencePUT);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
