/*
 * BCF API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 3.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package de.openfabtwin.generated.api;

import de.openfabtwin.generated.invoker.ApiClient;
import de.openfabtwin.generated.invoker.ApiException;
import de.openfabtwin.generated.invoker.ApiResponse;

import de.openfabtwin.generated.model.FileGET;
import de.openfabtwin.generated.model.FilePUT;
import de.openfabtwin.generated.model.ProjectFileInformation;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.IOException;
import java.net.http.HttpRequest;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.List;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2026-03-03T13:42:11.752466800+01:00[Europe/Berlin]", comments = "Generator version: 7.11.0")
public class FilesApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public FilesApi() {
    this(new ApiClient());
  }

  public FilesApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Get Files
   * Retrieve a collection of file references as topic header.  Implementer Note: The reference property can either be an Uri or a server specific id. Uris are given as absolute paths to the model files while ids reference a custom id of the model file and require custom logic per server to retrieve it. This allows referencing of files on the server but requires clients to know how to retrieve files in a specific implementation. 
   * @param version  (required)
   * @param projectId  (required)
   * @param topicId  (required)
   * @return List&lt;FileGET&gt;
   * @throws ApiException if fails to make API call
   */
  public List<FileGET> getFiles(String version, String projectId, String topicId) throws ApiException {
    ApiResponse<List<FileGET>> localVarResponse = getFilesWithHttpInfo(version, projectId, topicId);
    return localVarResponse.getData();
  }

  /**
   * Get Files
   * Retrieve a collection of file references as topic header.  Implementer Note: The reference property can either be an Uri or a server specific id. Uris are given as absolute paths to the model files while ids reference a custom id of the model file and require custom logic per server to retrieve it. This allows referencing of files on the server but requires clients to know how to retrieve files in a specific implementation. 
   * @param version  (required)
   * @param projectId  (required)
   * @param topicId  (required)
   * @return ApiResponse&lt;List&lt;FileGET&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<FileGET>> getFilesWithHttpInfo(String version, String projectId, String topicId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getFilesRequestBuilder(version, projectId, topicId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getFiles", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<List<FileGET>>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<List<FileGET>>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<List<FileGET>>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getFilesRequestBuilder(String version, String projectId, String topicId) throws ApiException {
    // verify the required parameter 'version' is set
    if (version == null) {
      throw new ApiException(400, "Missing the required parameter 'version' when calling getFiles");
    }
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(400, "Missing the required parameter 'projectId' when calling getFiles");
    }
    // verify the required parameter 'topicId' is set
    if (topicId == null) {
      throw new ApiException(400, "Missing the required parameter 'topicId' when calling getFiles");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/bcf/{version}/projects/{project_id}/topics/{topic_id}/files"
        .replace("{version}", ApiClient.urlEncode(version.toString()))
        .replace("{project_id}", ApiClient.urlEncode(projectId.toString()))
        .replace("{topic_id}", ApiClient.urlEncode(topicId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get Files Information
   * Retrieve a collection of project_file_informations to support allowing users to choose which Files (models) to reference in the header of topics created on the server. 
   * @param version  (required)
   * @param projectId  (required)
   * @return List&lt;ProjectFileInformation&gt;
   * @throws ApiException if fails to make API call
   */
  public List<ProjectFileInformation> getProjectFilesInformation(String version, String projectId) throws ApiException {
    ApiResponse<List<ProjectFileInformation>> localVarResponse = getProjectFilesInformationWithHttpInfo(version, projectId);
    return localVarResponse.getData();
  }

  /**
   * Get Files Information
   * Retrieve a collection of project_file_informations to support allowing users to choose which Files (models) to reference in the header of topics created on the server. 
   * @param version  (required)
   * @param projectId  (required)
   * @return ApiResponse&lt;List&lt;ProjectFileInformation&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<ProjectFileInformation>> getProjectFilesInformationWithHttpInfo(String version, String projectId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getProjectFilesInformationRequestBuilder(version, projectId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getProjectFilesInformation", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<List<ProjectFileInformation>>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<List<ProjectFileInformation>>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<List<ProjectFileInformation>>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getProjectFilesInformationRequestBuilder(String version, String projectId) throws ApiException {
    // verify the required parameter 'version' is set
    if (version == null) {
      throw new ApiException(400, "Missing the required parameter 'version' when calling getProjectFilesInformation");
    }
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(400, "Missing the required parameter 'projectId' when calling getProjectFilesInformation");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/bcf/{version}/projects/{project_id}/files_information"
        .replace("{version}", ApiClient.urlEncode(version.toString()))
        .replace("{project_id}", ApiClient.urlEncode(projectId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Update File
   * Update a collection of file references on the topic header. This operation is only possible when the server returns the updateFiles flag in the Topic authorization, see section 3.2.8 
   * @param version  (required)
   * @param projectId  (required)
   * @param topicId  (required)
   * @param filePUT  (required)
   * @return List&lt;FileGET&gt;
   * @throws ApiException if fails to make API call
   */
  public List<FileGET> updateTopicFile(String version, String projectId, String topicId, List<FilePUT> filePUT) throws ApiException {
    ApiResponse<List<FileGET>> localVarResponse = updateTopicFileWithHttpInfo(version, projectId, topicId, filePUT);
    return localVarResponse.getData();
  }

  /**
   * Update File
   * Update a collection of file references on the topic header. This operation is only possible when the server returns the updateFiles flag in the Topic authorization, see section 3.2.8 
   * @param version  (required)
   * @param projectId  (required)
   * @param topicId  (required)
   * @param filePUT  (required)
   * @return ApiResponse&lt;List&lt;FileGET&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<FileGET>> updateTopicFileWithHttpInfo(String version, String projectId, String topicId, List<FilePUT> filePUT) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = updateTopicFileRequestBuilder(version, projectId, topicId, filePUT);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("updateTopicFile", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<List<FileGET>>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<List<FileGET>>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<List<FileGET>>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder updateTopicFileRequestBuilder(String version, String projectId, String topicId, List<FilePUT> filePUT) throws ApiException {
    // verify the required parameter 'version' is set
    if (version == null) {
      throw new ApiException(400, "Missing the required parameter 'version' when calling updateTopicFile");
    }
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(400, "Missing the required parameter 'projectId' when calling updateTopicFile");
    }
    // verify the required parameter 'topicId' is set
    if (topicId == null) {
      throw new ApiException(400, "Missing the required parameter 'topicId' when calling updateTopicFile");
    }
    // verify the required parameter 'filePUT' is set
    if (filePUT == null) {
      throw new ApiException(400, "Missing the required parameter 'filePUT' when calling updateTopicFile");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/bcf/{version}/projects/{project_id}/topics/{topic_id}/files"
        .replace("{version}", ApiClient.urlEncode(version.toString()))
        .replace("{project_id}", ApiClient.urlEncode(projectId.toString()))
        .replace("{topic_id}", ApiClient.urlEncode(topicId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(filePUT);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
