/*
 * BCF API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 3.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package de.openfabtwin.generated.api;

import de.openfabtwin.generated.invoker.ApiClient;
import de.openfabtwin.generated.invoker.ApiException;
import de.openfabtwin.generated.invoker.ApiResponse;
import de.openfabtwin.generated.invoker.Pair;

import de.openfabtwin.generated.model.TopicGET;
import de.openfabtwin.generated.model.TopicPOST;
import de.openfabtwin.generated.model.TopicPUT;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.InputStream;
import java.io.IOException;
import java.net.http.HttpRequest;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpResponse;
import java.time.Duration;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.function.Consumer;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2026-03-03T13:42:11.752466800+01:00[Europe/Berlin]", comments = "Generator version: 7.11.0")
public class TopicsApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public TopicsApi() {
    this(new ApiClient());
  }

  public TopicsApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Create Topic
   * Add a new topic. This operation is only possible when the server returns the createTopic flag in the Project authorization, see section 3.1.5
   * @param version  (required)
   * @param projectId  (required)
   * @param topicPOST  (required)
   * @return TopicGET
   * @throws ApiException if fails to make API call
   */
  public TopicGET createTopic(String version, String projectId, TopicPOST topicPOST) throws ApiException {
    ApiResponse<TopicGET> localVarResponse = createTopicWithHttpInfo(version, projectId, topicPOST);
    return localVarResponse.getData();
  }

  /**
   * Create Topic
   * Add a new topic. This operation is only possible when the server returns the createTopic flag in the Project authorization, see section 3.1.5
   * @param version  (required)
   * @param projectId  (required)
   * @param topicPOST  (required)
   * @return ApiResponse&lt;TopicGET&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TopicGET> createTopicWithHttpInfo(String version, String projectId, TopicPOST topicPOST) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createTopicRequestBuilder(version, projectId, topicPOST);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("createTopic", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<TopicGET>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<TopicGET>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<TopicGET>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createTopicRequestBuilder(String version, String projectId, TopicPOST topicPOST) throws ApiException {
    // verify the required parameter 'version' is set
    if (version == null) {
      throw new ApiException(400, "Missing the required parameter 'version' when calling createTopic");
    }
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(400, "Missing the required parameter 'projectId' when calling createTopic");
    }
    // verify the required parameter 'topicPOST' is set
    if (topicPOST == null) {
      throw new ApiException(400, "Missing the required parameter 'topicPOST' when calling createTopic");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/bcf/{version}/projects/{project_id}/topics"
        .replace("{version}", ApiClient.urlEncode(version.toString()))
        .replace("{project_id}", ApiClient.urlEncode(projectId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(topicPOST);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Delete Topic
   * Deletes a single topic. This operation is only possible when the server returns the delete flag in the Topic authorization, see section 3.2.8
   * @param version  (required)
   * @param projectId  (required)
   * @param topicId  (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteTopic(String version, String projectId, String topicId) throws ApiException {
    deleteTopicWithHttpInfo(version, projectId, topicId);
  }

  /**
   * Delete Topic
   * Deletes a single topic. This operation is only possible when the server returns the delete flag in the Topic authorization, see section 3.2.8
   * @param version  (required)
   * @param projectId  (required)
   * @param topicId  (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> deleteTopicWithHttpInfo(String version, String projectId, String topicId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = deleteTopicRequestBuilder(version, projectId, topicId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("deleteTopic", localVarResponse);
        }
        return new ApiResponse<>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            null
        );
      } finally {
        // Drain the InputStream
        while (localVarResponse.body().read() != -1) {
          // Ignore
        }
        localVarResponse.body().close();
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder deleteTopicRequestBuilder(String version, String projectId, String topicId) throws ApiException {
    // verify the required parameter 'version' is set
    if (version == null) {
      throw new ApiException(400, "Missing the required parameter 'version' when calling deleteTopic");
    }
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(400, "Missing the required parameter 'projectId' when calling deleteTopic");
    }
    // verify the required parameter 'topicId' is set
    if (topicId == null) {
      throw new ApiException(400, "Missing the required parameter 'topicId' when calling deleteTopic");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/bcf/{version}/projects/{project_id}/topics/{topic_id}"
        .replace("{version}", ApiClient.urlEncode(version.toString()))
        .replace("{project_id}", ApiClient.urlEncode(projectId.toString()))
        .replace("{topic_id}", ApiClient.urlEncode(topicId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("DELETE", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get Topic
   * Retrieve a specific topic.
   * @param version  (required)
   * @param projectId  (required)
   * @param topicId  (required)
   * @return TopicGET
   * @throws ApiException if fails to make API call
   */
  public TopicGET getTopicById(String version, String projectId, String topicId) throws ApiException {
    ApiResponse<TopicGET> localVarResponse = getTopicByIdWithHttpInfo(version, projectId, topicId);
    return localVarResponse.getData();
  }

  /**
   * Get Topic
   * Retrieve a specific topic.
   * @param version  (required)
   * @param projectId  (required)
   * @param topicId  (required)
   * @return ApiResponse&lt;TopicGET&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TopicGET> getTopicByIdWithHttpInfo(String version, String projectId, String topicId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getTopicByIdRequestBuilder(version, projectId, topicId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getTopicById", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<TopicGET>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<TopicGET>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<TopicGET>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getTopicByIdRequestBuilder(String version, String projectId, String topicId) throws ApiException {
    // verify the required parameter 'version' is set
    if (version == null) {
      throw new ApiException(400, "Missing the required parameter 'version' when calling getTopicById");
    }
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(400, "Missing the required parameter 'projectId' when calling getTopicById");
    }
    // verify the required parameter 'topicId' is set
    if (topicId == null) {
      throw new ApiException(400, "Missing the required parameter 'topicId' when calling getTopicById");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/bcf/{version}/projects/{project_id}/topics/{topic_id}"
        .replace("{version}", ApiClient.urlEncode(version.toString()))
        .replace("{project_id}", ApiClient.urlEncode(projectId.toString()))
        .replace("{topic_id}", ApiClient.urlEncode(topicId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Get Topics
   * Retrieve a collection of topics related to a project (default sort order is creation_date).
   * @param version  (required)
   * @param projectId  (required)
   * @param $filter Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)  |parameter|type|description| |---------|----|-----------| |creation_author|string|userId of the creation author (value from extensions)| |modified_author|string|userId of the modified author (value from extensions)| |assigned_to|string|userId of the assigned person (value from extensions)| |stage|string|stage this topic is part of (value from extensions)| |topic_status|string|status of a topic (value from extensions)| |topic_type|string|type of a topic (value from extensions)| |creation_date|datetime|creation date of a topic| |modified_date|datetime|modification date of a topic| |labels|array (string)|labels of a topic (value from extensions)| |priority|string|priority of a topic (value from extensions)|  (optional)
   * @param $orderby Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)  |parameter|description| |---------|-----------| |creation_date|creation date of a topic| |modified_date|modification date of a topic| |server_assigned_id|the server_assigned_id of the topic| |index|index of a topic|  (optional)
   * @param $top  (optional)
   * @param $skip  (optional)
   * @return List&lt;TopicGET&gt;
   * @throws ApiException if fails to make API call
   */
  public List<TopicGET> getTopics(String version, String projectId, String $filter, String $orderby, String $top, String $skip) throws ApiException {
    ApiResponse<List<TopicGET>> localVarResponse = getTopicsWithHttpInfo(version, projectId, $filter, $orderby, $top, $skip);
    return localVarResponse.getData();
  }

  /**
   * Get Topics
   * Retrieve a collection of topics related to a project (default sort order is creation_date).
   * @param version  (required)
   * @param projectId  (required)
   * @param $filter Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)  |parameter|type|description| |---------|----|-----------| |creation_author|string|userId of the creation author (value from extensions)| |modified_author|string|userId of the modified author (value from extensions)| |assigned_to|string|userId of the assigned person (value from extensions)| |stage|string|stage this topic is part of (value from extensions)| |topic_status|string|status of a topic (value from extensions)| |topic_type|string|type of a topic (value from extensions)| |creation_date|datetime|creation date of a topic| |modified_date|datetime|modification date of a topic| |labels|array (string)|labels of a topic (value from extensions)| |priority|string|priority of a topic (value from extensions)|  (optional)
   * @param $orderby Filter items by property values, see [OData Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)  |parameter|description| |---------|-----------| |creation_date|creation date of a topic| |modified_date|modification date of a topic| |server_assigned_id|the server_assigned_id of the topic| |index|index of a topic|  (optional)
   * @param $top  (optional)
   * @param $skip  (optional)
   * @return ApiResponse&lt;List&lt;TopicGET&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<TopicGET>> getTopicsWithHttpInfo(String version, String projectId, String $filter, String $orderby, String $top, String $skip) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = getTopicsRequestBuilder(version, projectId, $filter, $orderby, $top, $skip);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("getTopics", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<List<TopicGET>>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<List<TopicGET>>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<List<TopicGET>>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getTopicsRequestBuilder(String version, String projectId, String $filter, String $orderby, String $top, String $skip) throws ApiException {
    // verify the required parameter 'version' is set
    if (version == null) {
      throw new ApiException(400, "Missing the required parameter 'version' when calling getTopics");
    }
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(400, "Missing the required parameter 'projectId' when calling getTopics");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/bcf/{version}/projects/{project_id}/topics"
        .replace("{version}", ApiClient.urlEncode(version.toString()))
        .replace("{project_id}", ApiClient.urlEncode(projectId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "$filter";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("$filter", $filter));
    localVarQueryParameterBaseName = "$orderby";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("$orderby", $orderby));
    localVarQueryParameterBaseName = "$top";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("$top", $top));
    localVarQueryParameterBaseName = "$skip";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("$skip", $skip));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * Update Topic
   * Modify a specific topic, description similar to POST. This operation is only possible when the server returns the update flag in the Topic authorization, see section 3.2.8 
   * @param version  (required)
   * @param projectId  (required)
   * @param topicId  (required)
   * @param topicPUT  (required)
   * @return TopicGET
   * @throws ApiException if fails to make API call
   */
  public TopicGET updateTopic(String version, String projectId, String topicId, TopicPUT topicPUT) throws ApiException {
    ApiResponse<TopicGET> localVarResponse = updateTopicWithHttpInfo(version, projectId, topicId, topicPUT);
    return localVarResponse.getData();
  }

  /**
   * Update Topic
   * Modify a specific topic, description similar to POST. This operation is only possible when the server returns the update flag in the Topic authorization, see section 3.2.8 
   * @param version  (required)
   * @param projectId  (required)
   * @param topicId  (required)
   * @param topicPUT  (required)
   * @return ApiResponse&lt;TopicGET&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<TopicGET> updateTopicWithHttpInfo(String version, String projectId, String topicId, TopicPUT topicPUT) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = updateTopicRequestBuilder(version, projectId, topicId, topicPUT);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode()/ 100 != 2) {
          throw getApiException("updateTopic", localVarResponse);
        }
        if (localVarResponse.body() == null) {
          return new ApiResponse<TopicGET>(
              localVarResponse.statusCode(),
              localVarResponse.headers().map(),
              null
          );
        }

        String responseBody = new String(localVarResponse.body().readAllBytes());
        localVarResponse.body().close();

        return new ApiResponse<TopicGET>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            responseBody.isBlank()? null: memberVarObjectMapper.readValue(responseBody, new TypeReference<TopicGET>() {})
        );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder updateTopicRequestBuilder(String version, String projectId, String topicId, TopicPUT topicPUT) throws ApiException {
    // verify the required parameter 'version' is set
    if (version == null) {
      throw new ApiException(400, "Missing the required parameter 'version' when calling updateTopic");
    }
    // verify the required parameter 'projectId' is set
    if (projectId == null) {
      throw new ApiException(400, "Missing the required parameter 'projectId' when calling updateTopic");
    }
    // verify the required parameter 'topicId' is set
    if (topicId == null) {
      throw new ApiException(400, "Missing the required parameter 'topicId' when calling updateTopic");
    }
    // verify the required parameter 'topicPUT' is set
    if (topicPUT == null) {
      throw new ApiException(400, "Missing the required parameter 'topicPUT' when calling updateTopic");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/bcf/{version}/projects/{project_id}/topics/{topic_id}"
        .replace("{version}", ApiClient.urlEncode(version.toString()))
        .replace("{project_id}", ApiClient.urlEncode(projectId.toString()))
        .replace("{topic_id}", ApiClient.urlEncode(topicId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(topicPUT);
      localVarRequestBuilder.method("PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

}
